
    .container{
        width:100%;
    }
    .container .list{
        width:100%;
        display: flex;
    }
    .container .list li{
        font-size: .24rem;
        flex:1;
        text-align: center;
        float:left;
    }